.navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAzMCAzMCc+PHBhdGggc3Ryb2tlPSdyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuNTUpJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1taXRlcmxpbWl0PScxMCcgc3Ryb2tlLXdpZHRoPScyJyBkPSdNNCA3aDIyTTQgMTVoMjJNNCAyM2gyMicvPjwvc3ZnPg==);
}

.banner {
    margin-left: -2px;
}

.highlights {
    color: #4fe3c8;
}

.hero1 {
    background-color: #618e86;
}

.pic-sarah {
    border: 11px solid white;
}

.arapey-regular {
        font-family: "Arapey", serif;
        font-weight: 100;
        font-style: normal;
        color: white;
        letter-spacing: 10px;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: medium;
  font-weight: medium;
  font-style: normal;
  text-decoration: none;
  font-variation-settings:
    "wdth" 100;
    color: white;
}

.btn {
    background-color: #e3774f;
}

.sfondorosa {
    background-image: url(./Pictures/Sfondo-Rosa.svg);
    background-size: cover;
}

.link-green {
    color: #618e86;
}

.card-text {
    border: 10px solid white;
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
}

.bi {
    color: white;
}

.servizi {
    grid-area: 1 / 1 / 2 / 4;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 10px;
}

.card-text h3 {
    white-space: nowrap;
}

@media (max-width: 995px) {
    .features {
      grid-template-columns: 1fr;
      gap: 5px;
    }
  }

.footer {
    padding-bottom: 100px;
}